.slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 862px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  // background: url(../img/header-bg.png) no-repeat;
  background-size: cover;
  position: relative;
  .card {
    display: flex;
    flex-direction: column;
    max-width: 428px;
    position: relative;
    z-index: 1111111;
    gap: 18px;
    min-height: 250px;
    padding: 22px;
    margin-left: 32px;
    fill: rgba(5, 86, 255, 0.1);
    background: url("/img/bg.svg");

    p {
      color: rgba(0, 0, 0, 0.8);
      font-family: Jost;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      max-width: 330px;
    }
    h4 {
      position: absolute;
      bottom: 15px;
      color: #000;
      font-family: Jost;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .tope {
      bottom: 68px;
    }

    .tope-btn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      button {
        position: relative;
        left: 15px;
        top: -35px;
        display: flex;
        padding: 12px;
        gap: 10px;
        border-radius: 12121px;
        background: #0556ff;
        border: none;
        cursor: pointer;
        box-shadow: 4px -6px 4px 0px rgba(255, 255, 255, 0.25) inset,
          0px 5px 4px 0px rgba(255, 255, 255, 0.25) inset;
      }
    }
  }
  .bg-picture {
    position: absolute;
    left: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1800px) {
  .slide-content {
    // background: url('/img/7129ee73fb9c15e17860c99924215444.png') no-repeat;
    background-size: cover;
    height: 680px;
    .card {
      max-width: 344px;
      align-items: end;
      background-size: contain;
      background-repeat: no-repeat;
      img {
        width: 220px;
      }
      p {
        font-size: 20px;
      }
      h4 {
        left: 20px;
        font-size: 26px;
      }
      .tope {
        bottom: 52px;
      }
      .tope-btn {
        button {
          left: 22px;
          top: -58px;
        }
      }
    }
    .bg-picture {
      top: 0;
    }
  }
}

@media screen and (max-width: 1400px) {
  .slide-content {
    // background: url('/img/7129ee73fb9c15e17860c99924215444.png') no-repeat;
    background-size: cover;
    height: 540px;
    .card {
      max-width: 255px;
      align-items: start;
      background-size: contain;
      background-repeat: no-repeat;
      padding-bottom: 0;
      img {
        display: none;
      }
      p {
        font-size: 20px;
        max-width: 242px;
      }
      h4 {
        position: relative;
        font-size: 26px;
      }
      .slide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 862px;
        font-size: 24px;
        font-weight: bold;
        color: #333;
        // background: url(../img/header-bg.png) no-repeat;
        background-size: cover;
        position: relative;
        .card {
          display: flex;
          flex-direction: column;
          max-width: 428px;
          position: relative;
          gap: 18px;
          padding: 22px;
          margin-left: 32px;
          fill: rgba(5, 86, 255, 0.1);
          background: url("/img/bg.svg");

          p {
            color: rgba(0, 0, 0, 0.8);
            font-family: Jost;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            max-width: 330px;
          }
          h4 {
            position: absolute;
            bottom: 15px;
            color: #000;
            font-family: Jost;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          .tope {
            bottom: 68px;
          }
          .tope-btn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            button {
              position: relative;
              left: 15px;
              top: -35px;
              display: flex;
              padding: 12px;
              gap: 10px;
              border-radius: 12121px;
              background: #0556ff;
              border: none;
              cursor: pointer;
              box-shadow: 4px -6px 4px 0px rgba(255, 255, 255, 0.25) inset,
                0px 5px 4px 0px rgba(255, 255, 255, 0.25) inset;
            }
          }
        }
        .bg-picture {
          position: absolute;
          left: 0;
          width: 100%;
          img {
            width: 100%;
          }
        }
      }

      @media screen and (max-width: 1800px) {
        .slide-content {
          // background: url('/img/7129ee73fb9c15e17860c99924215444.png') no-repeat;
          background-size: cover;
          height: 680px;
          .card {
            max-width: 344px;
            align-items: end;
            background-size: contain;
            background-repeat: no-repeat;
            img {
              width: 220px;
            }
            p {
              font-size: 20px;
            }
            h4 {
              left: 20px;
              font-size: 26px;
            }
            .tope {
              bottom: 52px;
            }
            .tope-btn {
              button {
                left: 22px;
                top: -58px;
              }
            }
          }
          .bg-picture {
            top: 0;
          }
        }
      }

      @media screen and (max-width: 1400px) {
        .slide-content {
          // background: url('/img/7129ee73fb9c15e17860c99924215444.png') no-repeat;
          background-size: cover;
          height: 540px;
          .card {
            max-width: 255px;
            align-items: start;
            background-size: contain;
            background-repeat: no-repeat;
            padding-bottom: 0;
            img {
              display: none;
            }
            p {
              font-size: 20px;
              max-width: 242px;
            }
            h4 {
              position: relative;
              font-size: 26px;
            }
            .tope {
              bottom: 0;
            }
            .tope-btn {
              position: relative;
              button {
                position: absolute;
                padding: 8px;
                left: auto;
                right: -20px;
                top: -28px;
              }
            }
          }
          .bg-picture {
            top: 5px;
          }
        }
      }

      @media screen and (max-width: 1200px) {
        .slide-content {
          background: url("/img/7129ee73fb9c15e17860c99924215444.png") no-repeat;
          border-radius: 20px;
          background-size: cover;
          height: 540px;
          .card {
            display: none;
          }
          .bg-picture {
            top: 5px;
            display: none;
          }
        }
      }

      .tope {
        bottom: 0;
      }
      .tope-btn {
        position: relative;
        button {
          position: absolute;
          padding: 8px;
          left: auto;
          right: -20px;
          top: -28px;
        }
      }
    }
    .bg-picture {
      top: 5px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .slide-content {
    background: url("/img/7129ee73fb9c15e17860c99924215444.png") no-repeat;
    border-radius: 20px;
    background-size: cover;
    height: 540px;
    .card {
      display: none;
    }
    .bg-picture {
      top: 5px;
      display: none;
    }
  }
}

@media (max-width: 320px) {
  .slide-content {
    background: url("/img/7129ee73fb9c15e17860c99924215444.png") no-repeat;
    border-radius: 20px;
    background-size: cover;
    // height: 540px;
    .card {
      display: none;
    }
    .bg-picture {
      top: 5px;
      display: none;
    }
  }
}