.swiper-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;

  .swiper-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
  }

  .swiper-slide {
    min-width: 100%;
    box-sizing: border-box;
  }

  .swiper-button {
    position: absolute;
    top: 16%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    width: 134px;
    border-radius: 84px;
    fill: rgba(255, 255, 255, 0.50);
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(6px);

    &.prev {
      left: 32px;
    }

    &.next {
      left: 178px;
    }
    @media screen and (max-width:1400px) {
      display: none;
    }
  }

  .swiper-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;

    .swiper-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ddd;
      cursor: pointer;

      &.active {
        background-color: #333;
      }
    }
  }
}


